<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationWebShopSuite">

    <test name="Authentication Tests">
        <classes>
            <class name="AuthTests.LoginTest"/>
            <class name="AuthTests.RegesterTest"/>
        </classes>
    </test>

    <test name="Shopping Workflow Tests">
        <classes>
            <class name="Tests.SearchTest"/>
            <class name="Tests.CartTest"/>
            <class name="Tests.WishListTest"/>
        </classes>
    </test>

</suite>