
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Web Shop Suite">
      <test name="All Tests">

    <classes>
      <class name="Tests.CartTests"/>
      <class name="Tests.LoginTest"/>
      <class name="Tests.RegesterTest"/>
      <class name="Tests.SearchTest"/>
      <class name="Tests.WishListTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
